@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    Inter,
    'Noto Sans SC',
    system-ui,
    sans-serif;
}

#root {
  min-height: 100vh;
}
